[submodule "Smooth.Shared"]
	path = src/Smooth.Shared
	url = https://github.com/Ekzakt/Smooth.Shared.git
[submodule "src/Smooth.Web/src/Smooth.Shared.Razor"]
	path = src/Smooth.Web/src/Smooth.Shared.Razor
	url = https://github.com/ekzakt/Smooth.Shared.git
